body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
/*----------------------------- colors---------------------------- */
.colored-section {
  background-color: #ff577f;
}
.white-section {
  background-color: white;
}
/* -------------------------title section------------------------- */

#title {
  text-align: left;
  /* position: relative;
z-index: -1; */
}

.main-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  line-height: 1.5;
  font-weight: bolder;
  color: white;
}

.container-fluid {
  padding: 2% 10% 0;
}

.titlecontain {
  margin-bottom: -18.5rem;
}

.download-button {
  margin: 10% 5% 0 0;
}

.img-fluid {
  margin: 5% 0 0 20%;
  position: relative;
  left: 28%;
}

/* --------------------------navigation bar-------------------------- */

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 5rem;
}

.navbar-item {
  padding: 0 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
}

/*------------------------------ features------------------------------ */
#features {
  padding: 12% 5%;
  position: relative;
  /* z-index: 1; */
  /* bottom: 150px; */
}

.featurebox {
  padding: 3%;
}

.feature-head {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.featurebox p {
  font-weight: 300;
}

.icon {
  color: #ff577f;
  margin: 0 5% 8% 0;
}

.icon:hover {
  color: #d7254f;
}

/*-------------------------- testimonials --------------------------*/
#testimonials {
  color: white;
}

.testimonial-image {
  padding: 3% 0 0 2%;
}

#testimonials em {
  font-size: 1.2rem;
  color: #5b0217;
  padding: 3% 0 0 2%;
  height: 100vh;
}

.carousel-item {
  height: 21.875rem;
  padding: 7% 15%;
}

/*----------------------------- press---------------------------- */
#press {
  padding: 5% 0;
}

.pressimg {
  width: 10%;
  margin: 10px 40px 10px;
}

.wspa {
  background-color: #49f9a1;
  border-radius: 50%;
}

/*---------------------------- pricing --------------------------*/
#pricing {
  padding: 5% 10%;
  font-family: "Ubuntu", sans-serif;
}

.pricing-cost {
  font-size: 3rem;
  color: #d7254f;
}

.plan-time {
  font-size: 1.5rem;
}

#pricing p {
  font-weight: 400;
}

.card-row {
  margin: 3rem 0 0 0;
}

.btn-pricing:hover {
  background-color: #ff577f;
}

/*------------------------------ call to action(CTA)------------------------ */

#cta {
  padding: 6% 15% 8%;
}

.btn-cta {
  margin: 3% 2% 0 0;
}

/* ------------------------------------footer------------------------------- */
#footer {
  padding: 4% 3% 8%;
}

.fo-brands {
  margin: 3% 2%;
  color: black;
}
.fo-brands:hover {
  color: #d7254f;
}

.copy {
  font-size: smaller;
  font-weight: 300;
  color: #d7254f;
}

/*---------------------------- @media queries---------------------------------- */

@media (max-width: 992px) {
  #title {
    text-align: center;
    padding-bottom: 2%;
  }

  .main-heading {
    font-size: 3rem;
  }

  .img-fluid {
    position: static;
  }
}

@media (max-width: 2650px) {
  .carousel-item {
    height: 30rem;
  }
}
